body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

app-recipe-view {
  grid-row: 1 / -1;
}

@media (max-width: 650px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

}
