<body>
<h1>Your Recipe Box</h1>

<div class="collection">
  <h2>Recipe Collection</h2>
  <div class="inputLabel">
    <label>Recipe Name:</label><input class="inputRecipe" type="text" name="name" [(ngModel)]="recipeBinding.name">
  </div>
  <div class="inputLabel">
    <label>Estimated Time:</label><input class="inputRecipe" type="text" name="time" [(ngModel)]="recipeBinding.estTime">
  </div>
  <input class="inputRecipeButton" type="button" value="Add Recipe" (click)="addRecipe()">

  <table>
    <tr>
      <th id="nameCol">Name</th>
      <th class="timeCol">Estimated Time</th>
    </tr>

    <tr *ngFor="let element of recipeBox" (click)="select(element)" class="list {{element == selectedItem?'selected':''}}">
      <td class="recipeName">{{element.name}}</td>
      <td class="timeCol">{{element.estTime}}</td>
    </tr>

    <tr *ngIf="recipeBox.length == 0">
      <td id="empty" colspan="2">Your recipe box is empty!</td>
    </tr>
  </table>

  <input class="editRecipeButton" type="button" value="Edit" (click)="editRecipe()">
  <input class="deleteRecipeButton" type="button" value="Remove" (click)="deleteRecipe()">
  <p *ngIf="message != null">{{message}}</p>
</div>

<div class="recipeDetails" *ngIf="selectedItem != null">
  <div class="editMode" *ngIf="showEditButtons == true">
    <input class="doneButton" type="button" value="Done" (click)="done()">
  </div>
  <h2>{{selectedItem.name}}</h2>

  <h3>Ingredients:</h3>
  <div class="editMode" *ngIf="showEditButtons == true">
    <div class="inputLabel">
      <label>Ingredient:</label><input class="inputIngredient" name="item" type="text" [(ngModel)]="ingredientBinding.name">
      <label>Quantity:</label><input class="inputIngredient" name="quantity" type="number" [(ngModel)]="ingredientBinding.quantity">
    </div>
      <input class="addIngredientButton" type="button" value="Add" (click)="addIngredient()">
  </div>
  <ul>
    <li *ngFor="let item of selectedItem.items">{{item.quantity}} - {{item.name}}</li>
  </ul>

  <h3>Steps:</h3>
  <div class="editMode" *ngIf="showEditButtons == true">
    <div class="inputLabel">
      <label>Step:</label><input class="inputStep" name="step" type="text" [(ngModel)]="stepBinding">
    </div>
    <input class="addStepButton" type="button" value="Add" (click)="addStep()">
  </div>
  <ol>
    <li *ngFor="let step of selectedItem.steps">{{step}}</li>
  </ol>

</div>

</body>

