body {
  background-color: #67eb88;
  max-width: 95%;
  margin-top: -2.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 5px solid #7c6ce6;
}

.collection {
  text-align: center;
  border-bottom: 5px solid #7c6ce6;
}
h1 {
  text-align: center;
  background-color: #a9a9a9;
  padding: 1em;
  font-family: "Lobster", serif;
  letter-spacing: 0.1em;
  font-size: 4em;
  border-bottom: 5px solid #7c6ce6;
}

h2 {
  text-decoration-line: underline;
  margin: 1em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1em auto;
  background-color: white;
}

th {
  border-bottom: 1px solid black;
}

td, th {
  padding: 0.7em;
  text-align: left;
}

#nameCol{
  width: 20em;
}

#timeCol {
  width: 5em;
  text-align: center;
}

#empty {
  text-align: center;
}

label, input {
  margin: 1em;
  width: 8em;
}

.selected {
  background-color: #e6b96c;
}

.inputLabel {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
}
.inputLabel > label {
text-align: right;
width: 100%;
}

input[type="button"] {
padding: 0.5em;
text-align: center;
font-size: 1em;
border-radius: 5px;
background-color: #7c6ce6;
color: white;
}
input[type="button"]:hover {
background-color: #6f61cf;
}
