<body>
    <h1>Your Shopping List</h1>

    <div class="collection">
      <p *ngIf="message != null">{{message}}</p>
      <input class="generateListButton" type="button" value="Update my List!" (click)="getLists()">

      <h2>Recipe Items To Buy</h2>
      <table>
        <tr>
          <th id="nameCol">Item</th>
          <th class="timeCol">Quantity</th>
        </tr>

        <tr *ngFor="let element of shoppingList">
          <td class="itemName">{{element.name}}</td>
          <td class="quantityCol">{{element.quantity}}</td>
        </tr>

        <tr *ngIf="shoppingList.length == 0">
          <td id="empty" colspan="2" *ngIf="hasCheckedIngredients == true">You have all the ingredients you need!</td>
          <td id="empty" colspan="2" *ngIf="hasCheckedIngredients == false">Select a recipe and click "Update my List!"</td>
        </tr>
      </table>

      <h2>Recipe Items in Fridge</h2>
      <table>
        <tr>
          <th id="nameCol">Item</th>
          <th class="timeCol">Quantity</th>
        </tr>

        <tr *ngFor="let element of recipeItemsInFridge">
          <td class="itemName">{{element.name}}</td>
          <td class="quantityCol">{{element.quantity}}</td>
        </tr>

        <tr *ngIf="recipeItemsInFridge.length == 0">
          <td id="empty" colspan="2" *ngIf="hasCheckedIngredients == true">You'll need to do some shopping!</td>
          <td id="empty" colspan="2" *ngIf="hasCheckedIngredients == false">Select a recipe and click "Update my List!"</td>
        </tr>
      </table>


    </div>

    </body>
