<body>
    <h1>Your Fridge</h1>

    <div class="collection">
      <h2>Fridge Contents</h2>
      <div class="inputLabel">
        <label>Item Name:</label><input class="inputItem" type="text" name="name" [(ngModel)]="itemBinding">
      </div>
      <div class="inputLabel">
        <label>Quantity:</label><input class="inputItem" type="number" name="quantity" [(ngModel)]="quantityBinding">
      </div>
      <input class="inputItemButton" type="button" value="Add Item" (click)="addItem()">

      <table>
        <tr>
          <th id="nameCol">Item</th>
          <th class="timeCol">Quantity</th>
        </tr>

        <tr *ngFor="let element of fridge.contents" (click)="select(element)" class="list {{element == selectedItem?'selected':''}}">
          <td class="itemName">{{element.name}}</td>
          <td class="quantityCol">{{element.quantity}}</td>
        </tr>

        <tr *ngIf="fridge.contents.length == 0">
          <td id="empty" colspan="2">Your fridge is empty!</td>
        </tr>
      </table>

      <input class="deleteItemButton" type="button" value="Remove" (click)="deleteItem()">
      <p *ngIf="message != null">{{message}}</p>
    </div>

    </body>


